<form action="/session" method="post">
  <input type="hidden" name="_method" value="post">
  
  <label for="">Username</label>
  <input name="username" type="text">

  <label for="">Password</label>
  <input name="password" type="password">

  <button>save</button>
</form>