<p class='first-line'><a href='..'>Back to search</a></p>
<div class='details'>
  <h3>Which movie are you looking for?</h3>
  <% if @result != 'No movie found' %>
    <% @moviearray.each do |movie| %>
        <p>
          <a href="<%= URI.escape("/about?id=#{movie['imdbID']}") %>">
            <%= movie['Title'] %>
          </a>
        </p>
    <% end %>
  <% end %>
  <p><%= @result %></p>
</div>