body {
    padding-top: 50px; 
    /*background-color: blue;*/
}

.portfolio-item {
  /*background-color: green;*/
  border: solid black 1px;
  /*padding: 0 10px 10px 10px;*/
  height: 800px;
}

.navbar {
  background-color: orange;
  /*color: white;*/
}