@font-face { font-family: Bellota; src: url('/fonts/Bellota-Regular.otf'); } 

body {
    padding-top: 30px; 
    background-image: url(/images/background.jpg);
    background-size: 100%;
    font-family: Bellota;
}


/****Navbar****/

.navbar-brand {
  padding-right: 0;
}

.navbar input {
  background: rgb(70,70,70);
  border-color: rgb(70,70,70);
  color: grey;
}

.navbar button {
  background: rgb(40,40,40);
  border-color: rgb(70,70,70);
  color: grey;
}

.navbar button:active,
.navbar button:hover,
.navbar button:focus {
  background: rgb(40,40,40) !important;
  color: white !important;
  outline: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  form.search-bar {
    width: 230px;
  }
}

.dropdown button {
  width: 100%;
  text-align: left;
  border: none;
  color: grey;
  background-color: transparent;
}

.dropdown button:hover {
  color: white;
  background-color: transparent;
}

.dropdown-menu {
  background: black;
}

.dropdown-menu form {
  margin: 0;
}

.dropdown-menu input {
  background: black;
  color: grey;
  margin-bottom: 5px;
}


/****Page Content****/

.content {
  min-height: 83vh;
}

.panel {
  background-color: rgba(255,255,255,.7);
}

.panel-heading {
  background-size: 100%;
  background-position: center; 
  position: relative;
}

@media (min-width: 768px) {
  .panel-heading {
    height: 120px;
    background-size: 150%;
  }
}

.panel-heading h4,
.panel-heading p {
  display: inline-block;
  background-color: rgba(255,255,255,0.9);
  border-radius: 2px;
  padding: 3px;
  margin-top: 0;
}

.panel-heading img {
  position: absolute;
  bottom: 0;
  padding: 2px;
  left: 50%;
  transform: translate(-50%)
}

.panel-body {
  background-color: transparent;
}

.panel-body p {
  margin-top: 10px;
  margin-bottom: 0;
}

p.cuisines {
  margin: 0;
  font-style: italic;
}

.rating form {
  display: inline-block;
}

.rating button {
  border: none;
  background-size: 100%;
  width: 32px;
  height: 32px;
  background-color: initial;
  outline: none;
}

textarea {
  width: 100%;
  resize: none;
}

.panel-footer {
  background-color: rgba(155,155,155,.5);
}

.panel-footer form {
  display: inline-block;
}

.add-button {
  margin-right: 5px;
}

h2.page-header {
  border-bottom: 1px solid rgba(155,155,155,.5);
}

div.userform {
  margin-bottom: 10px;
}

label {
  display: block;
}

p.error-msg {
  color: red;
  margin: 0;
}

p.saved-msg {
  display: inline-block;
}

div#deleteAccount {
  margin-top: 30vh;
}

div#deleteAccount form {
  display: inline-block;
}

footer {
  text-align: center;
}

footer p {
  display: inline-block;
  background-color: rgba(155,155,155,.5);
  color: white;
  padding: 4px 6px;
  border-radius: 3px;
}

hr{
  border-color: rgba(155,155,155,.5);
}